@page "/course"
@inherits CourseListBase


<div class="d-flex justify-content-between mx-2">
    <h3>Course List</h3>
    <a href="/course/create" class="btn btn-primary"> + Create </a>
</div>


<div class="my-2 @(SelectedCourseCount <= 0 ? "invisible" : "")">Selected course : @SelectedCourseCount</div>

<div class="table-responsive">
    @if (Courses == null)
    {
        <div class="spinner"></div>
    }
    else
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Created On</th>
                    <th>Modified On</th>

                    @if (ShowActions)
                    {
                        <th>Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Courses)
                {
                    <DisplayCourse Course="course" ShowActions="ShowActions" OnCourseSelection="CourseSelectionChanged"></DisplayCourse>
                }
            </tbody>
        </table>

        <div class="position-fixed bottom-0 start-50">
            <input type="checkbox" id="showActions" @bind="ShowActions" />
            <label for="showActions">Show Actions</label>
        </div>
    }
</div>
