@page "/course/edit/{Id}"
@page "/course/create"
@inherits EditCourseBase

@if (CourseDTO == null)
{
    <div class="spinner"></div>
}
else
{
    <EditForm Model="@CourseDTO" OnValidSubmit="HandleValidSubmit">

        @if (!string.IsNullOrEmpty(CourseDTO.Id))
        {
            <h3>Edit Course</h3>
        }
        else
        {
            <h3>Add Course</h3>
        }
        <hr />

        @if (!string.IsNullOrEmpty(CourseDTO.Id))
        {
        <div class="form-group row my-2">
            <label for="id" class="col-sm-2 col-form-label">
                Id
            </label>
            <div class="col-sm-10">
                <InputText id="id" class="form-control" placeholder="Id"
                       @bind-Value="CourseDTO.Id" disabled />
            </div>
        </div>

        }

        <div class="form-group row my-2">
            <label for="name" class="col-sm-2 col-form-label">
                Name
            </label>
            <div class="col-sm-10">
                <InputText id="name" class="form-control" placeholder="Name"
                       @bind-Value="CourseDTO.Name" />
                <ValidationMessage For="@(() => CourseDTO.Name)" />
            </div>
        </div>
        <div class="d-flex justify-content-center my-2">
            <button class="btn btn-outline-primary mx-2" type="submit">
                @(!string.IsNullOrEmpty(CourseDTO.Id)) ? "Edit" : "Add"
                </button>
            @if (!string.IsNullOrEmpty(CourseDTO.Id))
            {
                <button class="btn btn-outline-danger" type="submit" @onclick="Delete_Click" >Delete</button>
            }
        </div>
    </EditForm>
}
